<div class="container">
  <h1>My Restaurants</h1>
    <% @restaurants.each do |restaurant| %>
      <div class="d-flex justify-content-between w-100 m-3">
        <h3>
          <%= link_to restaurant.name, restaurant_path(restaurant), class: "text-decoration-none text-dark"  %>
        </h3>
          <small>
            <%= link_to "See details", restaurant_path(restaurant), class: "btn btn-primary flex-end"%>
          </small>
      </div>
    <% end %>
    <%= link_to "Add new restaurant", new_restaurant_path %>
</div>
